aiohappyeyeballs==2.4.3
aiohttp==3.10.11
aiosignal==1.3.1
appdirs==1.4.4
argschema==1.17.5
async-generator==1.10
async-timeout==5.0.1
atomicwrites==1.4.1
attrs==24.2.0
blosc==1.11.1
boto3==1.28.67
botocore==1.31.67
bqplot==0.12.43
cachetools==5.3.1
caveclient==7.0.2
certifi==2023.7.22
certipy==0.1.3
chardet==5.2.0
cloud-files==4.21.1
cloud-volume==8.27.0
compressed-segmentation==2.2.1
compresso==3.2.1
crackle-codec==0.7.0
crc32c==2.3.post0
dataclasses==0.6
datajoint==0.12.9
datashape==0.5.4
deflate==0.4.0
djsciops==1.5.8
DracoPy==1.3.0
enty==0.1.4
envyaml==1.10.211231
fasteners==0.19
fastremap==1.14.0
Flask==3.0.3
fpzip==1.2.2
frozenlist==1.5.0
gevent==23.9.1
google-api-core==2.12.0
google-apitools==0.5.32
google-auth==2.23.3
google-cloud-core==2.3.3
google-cloud-storage==2.12.0
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.61.0
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.27.2
inflection==0.5.1
ipydatawidgets==4.3.5
ipython-genutils==0.2.0
ipyvolume==0.6.3
ipyvue==1.11.2
ipyvuetify==1.10.0
ipywebrtc==0.6.0
itsdangerous==2.2.0
jmespath==1.0.1
jupyterlab==4.3.1
jupyterlab_server==2.27.3
llvmlite==0.40.1
marshmallow==2.21.0
meshparty==1.16.14
minio==7.2.10
multidict==6.1.0
multipledispatch==0.6.0
multiprocess==0.70.15
multiwrapper==0.1.1
munkres==1.1.4
networkx==2.8.8
neuroglancer==2.36
nglui==3.4.0
oauth2client==4.1.3
opencv-python-headless==4.11.0.86
orjson==3.9.9
packaging==24.2
pandas==1.5.3
pathos==0.3.1
plyfile==1.0.1
pooch==1.7.0
posix-ipc==1.1.1
pox==0.3.3
ppft==1.7.6.7
propcache==0.2.0
protobuf==4.24.3
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.11.1
pycryptodome==3.21.0
pyct==0.4.6
pycurl==7.45.1
pydot==3.0.2
pymeshfix==0.16.2
PyMySQL==1.1.1
PySide6==6.2.4
pysimdjson==5.0.2
pyspng-seunglab==1.1.0
python-jsonschema-objects==0.5.0
pythreejs==2.4.2
pyvista==0.42.3
rsa==4.9
Rtree==1.1.0
s3transfer==0.7.0
scipy==1.9.1
scooby==0.8.0
shapely==2.0.2
shiboken6==6.2.4
simplegeneric==0.8.1
simplejpeg==1.7.2
slackclient==2.9.4
speedtest-cli==2.1.3
tenacity==8.2.3
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
traittypes==0.2.1
trimesh==4.0.0
triton==2.1.0
urllib3==1.26.18
vtk==9.2.6
Werkzeug==3.0.6
yarl==1.15.2
zfpc==0.1.2
zfpy==1.0.0
zope.event==5.0
zope.interface==6.1
zstandard==0.21.0
